/*
!/README.md
!/.gitignore
!/.gitattributes

!/.vim
!/.vimrc
/.vim/.netrwhist

!/.tmux
/.tmux/plugins
!/.tmux/plugins/.gitkeep
!/.tmux.conf

!/.local
/.local/*
!/.local/bin
/.local/bin/*
!/.local/bin/tmux

